menu "Watchdog Timer Support"

config WDT
	bool "Enable driver model for watchdog timer drivers"
	depends on DM
	help
	  Enable driver model for watchdog timer. At the moment the API
	  is very simple and only supports four operations:
	  start, restart, stop and reset (expire immediately).
	  What exactly happens when the timer expires is up to a particular
	  device/driver.

endmenu
